*{
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    height: 100vh;
    line-height: 1.6;
    
}
.container{
    width: 100%;
    height: 100%;
}

#header{
    background-color: rgba(0,0,0, 0.15);
    position: fixed; /*always on top*/
    top: 0; 
    width: 100%;
    z-index: 1; /*stacking order of elements*/
    display: flex; /*flex-box*/
    height: 45px;

}

ul{
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    justify-content: center;
}

#header ul li  {
    margin: 0 1rem;
    padding: 1rem;
}

ul li a {
    text-decoration: none;
    color: white;
}

#header ul li a:hover{
    color: 
}

.page{
/* background-color: firebrick; */
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
width: 100%;
height: 100vh;
}

.card{
    border: 1px solid white;
}

.page p{
    font-size: 1.5rem;
}

#intro{
    background: url(./img/geometric-1732847_1920.jpg);
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    justify-content: center;
}

#intro h1{
    font-size: 5em;
}

#intro h2{
    font-size: 2em;
}

#intro li{
    margin: 0 1rem;
    padding: 1rem;
}
#about{
    background-color: green;
    height: 30rem;
    /* display: flex; */
}

#headshot{
height: 15em;
border-radius: 50%;
}
/* 
#skills{
    background-color: pink;
}
#projects{
    background-color:blue;
} */
#contact{
    background: url("/main/img/code-1839406.jpg");
}
