*{
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #595959;
    color: white;
    height: 100vh;
    line-height: 1.6;
    
}
.container{
    width: 100%;
    height: 100%;
    text-align: center;
}

#header{
    background-color: rgba(0,0,0, 0.15);
    position: fixed; /*always on top*/
    top: 0; 
    width: 100%;
    z-index: 1; /*stacking order of elements*/
    display: flex; /*flex-box*/
    height: 45px;

}

ul{
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    justify-content: center;
}

#header ul li  {
    margin: 0 1rem;
    padding: 1rem;
}

a {
    text-decoration: none;
    color: white;
}


.page{
/* background-color: firebrick; */
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
/* width: 100%; */
height: 100vh;
}



.page p{
    font-size: 1.5rem;
}

#intro{
    background: url(./img/programming-1873854.png);
    /* background-color: black; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    justify-content: center;
    -webkit-text-stroke: 1px black;
}

#intro h1{
    font-size: 5em;
}

#intro h2{
    font-size: 2em;
}

#intro li{
    margin: 0 1rem;
    padding: 1rem;
}
#about{
    /* height: 100vm; */
    /* width: 100%; */
    display: grid;
    align-items: center;
    /* grid-template-columns: auto auto auto; */
    grid-template-areas: 
    'headshot intro';
    /* grid-template-columns: repeat(auto-fit, minmax(325px, 1fr)); */
    background-color: black;
    padding: 4rem;
}

.desc{
    width: 80%;
    /* background-color: purple; */
    margin: auto;
    grid-area: intro;

}

#about img{
/* height: 10%; */
border-radius: 50%;
margin: auto;
grid-area: headshot;
/* padding: 5rem; */
}



#projects{
    padding: 10%;
    width: 80%;
    align-items: center;
    justify-content: center;
    background: url("./img/work-731198_1920.jpg");
    background-size: cover;
}
#projects p{

    font-size: 1vw;

}

#projects img{
    height: 100%;
}

.project{
    display: grid;
}

.projectDesc{
    margin: 1.25%;
}
#projects h3{
    font-size: 1.25em;
}
.card{
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    margin: 1em;
    background-color: gray;
    width: 100%;
    height: 25%;
    box-shadow: 1px 1px #595959;
}

#projects li {
    display: inline-block;
    padding: 0 1em 0 0;
    }
    
#projects li:after {
    content: " | ";
    color: #ccc;
    display: inline-block;
    font-size: 100%;
    margin: 0 0 0 1em;
    }
    
#projects li:last-child:after { content: " "; }  /* remove the pipe from the last list item */

#skills{
    width: 100%;
    height: 60vh;
    
}
.content{
    display: flex;
    flex-direction: row;
    width: 80%;
}


#skills ul{
    display: inline-block;
    padding: 3% 0;
    /* font-size: 1.5em; */
}

#skills h3{
    margin-top: 10%;
    padding-bottom: 5%;
    border-bottom: 1px solid white;
    /* font-size: 2.5em; */
}


.skillsCard{
    /* border: 1px solid white; */
    margin: 2%;
    width: 25%;
    background-color: aqua;
    justify-content: center;
}

#contact{
    background-color:black;
    width: 100%;
}
#FormDiv{
    width: 60%;
    min-height: 35%;
}
#form{
    display: flex;
    flex-direction: column;
    height: 100%;
    /* border: 1px solid white; */
    margin: 3%;
    
}
#form ::placeholder{
    color: white;
}
#form input{
    height: 15%;
    
}

#form textarea{
    height: 50%;
    padding: 2%;
}

.formField{
    padding-left: 2%;
    background-color: transparent;
    font-family:Arial;
    color: white;
    outline: none;
    border: solid 1px white;
    border-bottom: none;
}

.formField:hover{
    background: #2c2c2c;
}

input:focus::placeholder, textarea:focus::placeholder {
    font-size: 0em;
  }

#form #submit{
    padding: 0;
    border-bottom: solid 1px white;
}

@media (max-width: 500px) {
    #about {
    grid-template-areas:
        'headshot'
        'intro';
    padding: 1rem;
    /* padding-top: 2rem; */
    }
  }




